<h1></h1>
<span>Ip:
<input mask="IP"  value="selectedIp"/>
<button (click)="searchByIp()">Search</button>
</span>
<div *ngIf="geoInfo">
    Location Details: 
<br/>
<span> Country : {{geoInfo.Country}} </span>
<br/>
<span > Region : {{geoInfo.Region}} </span>
<br/>
<span > Postal : {{geoInfo.Region}} </span>
<br/>
<span > City : {{geoInfo.Region}} </span>
<br/>
<span > Organization : {{geoInfo.Organization}} </span>
<br/>
<span > Latitude : {{geoInfo.Latitude}} </span>
<br/>
<span > Longitude : {{geoInfo.Longitude}} </span>
</div>
